<html lang="en">
<head>
    <%- include('partials/head.ejs') %> 
    <title>Ley de alquileres</title>

</head>
<body>
    
<!-- navbar -->
  <%- include('partials/header.ejs') %> 


<div class="container SobreNotros" style="padding: 15px 30px 15px 30px;" >
<h1 style="text-align: center;" >Nueva ley de alquileres todo lo que necesitas saber</h1>
<p style="font-size: 14px; margin-bottom:2px;">Queremos compartir con Vos algunos puntos importantes de la Nueva La Ley de Alquileres y todo lo que necesitas saber del tema, cualquier duda podes preguntarnos
    
   </p>
   <h2 style="padding-top:5px;padding-bottom:7px;">Principales puntos</h2> 
   <p style="font-size: 14px; margin-bottom:5px;">
</p>
<h3>Cuidado de la propiedad</h3> 
<p style="font-size: 14px; margin-bottom:5px;">
    Conservar la cosa con aptitud para el uso convenido. El locador debe conservar la cosa locada en estado de servir al uso y goce convenido y efectuar a su cargo la reparación que exija el deterioro en su calidad o defecto, originado por cualquier causa no imputable al locatario. 
</p>
<h3> Plazo de locacion</h3> 
<p style="font-size: 14px; margin-bottom:5px;">
   
    Plazo mínimo de la locación de inmueble. El contrato de locación de inmueble, cualquiera sea su destino, si carece de plazo expreso y determinado mayor, se considerará celebrado por el plazo mínimo legal de tres (3) años
    
</p>
<h3>Resolucion anticipada</h3> 
<p style="font-size: 14px; margin-bottom:5px;">

    Resolución anticipada. El contrato de locación puede ser resuelto anticipadamente por el locatario:
    
    a) si han transcurrido seis meses de contrato, debiendo notificar en forma fehaciente su decisión al locador con al menos un (1) mes de anticipación. Si hace uso de la opción resolutoria en el primer año de vigencia de la relación locativa, debe abonar al locador, en concepto de indemnización, la suma equivalente a un (1) mes y medio de alquiler al momento de desocupar el inmueble y la de un (1) mes si la opción se ejercita transcurrido dicho lapso.
    
    En los contratos de inmuebles destinados a vivienda, cuando la notificación al locador se realiza con una anticipación de tres (3) meses o más, transcurridos al menos seis (6) de contrato, no corresponde el pago de indemnización alguna por dicho concepto.
   
    
</p>
<h3>Renovación de contrato</h3> 
<p style="font-size: 14px; margin-bottom:5px;">
    Renovación del contrato. En los contratos de inmuebles destinados a vivienda, dentro de los tres (3) últimos meses de la relación locativa, cualquiera de las partes podrá convocar a la otra, notificándola en forma fehaciente, a efectos de acordar la renovación del contrato, en un plazo no mayor a quince (15) días corridos.
    
    En caso de silencio del locador o frente a su negativa de llegar a un acuerdo, estando debidamente notificado, el locatario puede resolver el contrato de manera anticipada sin pagar la indemnización correspondiente.”
    

</p>
<h3>Garantías</h3> 
<p style="font-size: 14px; margin-bottom:5px;">
     En las locaciones habitacionales, en el caso de requerirse una garantía, el locatario propondrá al locador al menos dos de las siguientes garantíasT
    a) Título de propiedad inmueble;
    
    b) Aval Bancario;
    
    c) Seguro de Caución;
    
    d) Garantía de fianza; o fiador solidario; o
    
    e) Garantía personal del locatario, que se documenta con recibo de sueldo, certificado de ingresos o cualquier otro medio fehaciente. En caso de ser más de un locatario, deben sumarse los ingresos de cada uno de ellos a los efectos de este artículo.
    

</p>
<h3>Ajuste de precio</h3> 
<p style="font-size: 14px; margin-bottom:5px;">

Los ajustes deberán efectuarse utilizando un índice conformado por partes iguales por las variaciones mensuales del índice de precios al consumidor (IPC) y la remuneración imponible promedio de los trabajadores estables (RIPTE), que deberá ser elaborado y publicado mensualmente por el Banco Central de la República Argentina (BCRA).
    

</p>
<h3>Carga de impuestos</h3> 
<p style="font-size: 14px; margin-bottom:5px;">
    La TGI, por ahora se pagará a medias entre locador y locatario.
    
    el pago del impuesto inmobiliario. “Antes, en Santa Fe por ley provincial ese gravamen lo abonaba el inquilino y ahora por ley nacional estará a cargo del propietario”
    
    Si te interesa consultar más sobre el tema aquí te dejo un <a href="https://www.argentina.gob.ar/noticias/rige-la-nueva-ley-de-alquileres"> Link</a> </p>

<!-- images -->
<div class="sobreNosotrosImg">

 <div>
    <img class="sobreNosotrosImages" src="https://marcelozanni.com.ar/wp-content/uploads/2020/11/edificio-fuentes-640x480.jpg" alt="" style="width:52%;">
</div>
    


<div>
    <img class="sobreNosotrosImages"src="https://marcelozanni.com.ar/wp-content/uploads/2020/11/Logo-240-640x480.png" alt="" style="width:60%;">
</div>

<div>
    <img class="sobreNosotrosImages" src="https://marcelozanni.com.ar/wp-content/uploads/2020/11/COCIR-transparente-1-640x480.jpg" alt="" style="width:60%;">
</div>

<div>
    <img class="sobreNosotrosImages" src="https://marcelozanni.com.ar/wp-content/uploads/2020/11/CEIR-transparente-1-640x480.jpg" alt="" style="width:60%; height: 90%;">
</div>
</div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>


<!-- footer -->
  <%- include('partials/footer.ejs') %> 

</body>
</html>