<html lang="en">
<head>
    <%- include('partials/head.ejs') %> 
    <title>sobre nosotros</title>

</head>
<body>
    
<!-- navbar -->
  <%- include('partials/header.ejs') %> 

<div class="container SobreNotros"  >
<h2 style="text-align: center;" >Sobre nosotros</h2>

<p style="font-size: 14px; margin-bottom:2px;">Empresa de familia que se remonta al año 1928, siendo su fundador Luis Gaudencio Zanni, el cual desempeñaba sus operaciones inmobiliarias en el domicilio de calle Sarmiento n° 710, en el primer piso del tan conocido Palacio Fuentes, patrimonio histórico de nuestra Ciudad de Rosario, Pcia. de Santa Fe.

Continúa en el comercio inmobiliario,  Luis A  Zanni, asociándose luego con L. A. Zanni ( hijo ) y Jorge Benvenuto, pasando a llamarse la empresa Benvenuto y Zanni S.R.L.

La cual se desempeñó en nuestra Ciudad desde el año 1973 hasta 1994. Teniendo sucursales en las Ciudades de Paraná, Gualeguaychú, Pcia. de Entre Ríos y en Marcos Juárez, Pcia. de Córdoba.

En el año 1996 se disuelve la sociedad en Rosario, continuando en la Ciudad de Paraná solamente, con otros socios extra familiares, ya que en esa Ciudad se enajena el paquete accionario.

Desde el año 1984 Marcelo Jorge Zanni abre su propia Inmobiliaria en la ciudad de Rosario y desde entonces hasta la fecha trabaja con Ventas Alquileres y Administraciones

Nuestros Clientes nos conocen y pueden dar referencias sobre nosotros

Actualmente en Rosario, en la Empresa  Administración  Zanni, se desempeñan como titulares los señores Marcelo Jorge Zanni matricula 628  y Marcela Quiroga matricula 377

Sus oficinas se hallan ubicadas en calle Tucumán N° 1445, piso 06 – “A” de Rosario

Donde lo atenderán como usted se merece, con la mayor efectividad, cordialidad y precisión como lo hacían sus ancestros

Aconsejándoles la mejor manera de realizar sus transacciones inmobiliarias. Dispuestos a servirle.
</p>

<!-- images -->
<div class="sobreNosotrosImg">

 <div>
    <img class="sobreNosotrosImages" src="https://marcelozanni.com.ar/wp-content/uploads/2020/11/edificio-fuentes-640x480.jpg" alt="" style="width:52%;">
</div>
    


<div>
    <img class="sobreNosotrosImages"src="https://marcelozanni.com.ar/wp-content/uploads/2020/11/Logo-240-640x480.png" alt="" style="width:60%;">
</div>

<div>
    <img class="sobreNosotrosImages" src="https://marcelozanni.com.ar/wp-content/uploads/2020/11/COCIR-transparente-1-640x480.jpg" alt="" style="width:60%;">
</div>

<div>
    <img class="sobreNosotrosImages" src="https://marcelozanni.com.ar/wp-content/uploads/2020/11/CEIR-transparente-1-640x480.jpg" alt="" style="width:60%; height: 90%;">
</div>
</div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>


<!-- footer -->
  <%- include('partials/footer.ejs') %> 

</body>
</html>