<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/bootstrap.min.css">



  <title>Zanni</title>
</head>

<body class="page_background_color">


      <form action="/admin/crear-propiedad" method="POST" enctype="multipart/form-data" >

        <!-- jumbotron -->
        <div class="jumbotron">
        
 <div class="form-group">

<!-- titulo -->
<div>
<label for='titulo'class='text-center' >titulo</label>
<input class="form-control" type="text" id='titulo' name="titulo"  />
</div> 
<!-- titulo -->


<!-- Descripcion -->
<div class="mt-2">
    <label for='Descripcion'class='text-center' >Descripcion</label>
    <input class="form-control" type="text" id='Descripcion' name="Descripcion"  />
    </div> 
<!-- Descripcion -->


<!-- habitaciones -->
<div class="mb-2">
    <label for='habitaciones'class='text-center' >Numero de habitaciones</label>
    <input class="form-control" type="number" id='habitaciones' name="habitaciones"  />
    </div> 
<!-- habitaciones -->


<!-- baños -->
<div class="mb-2">
    <label for='baños'class='text-center'> Numero de baños</label>
    <input class="form-control" type="number" id='baños' name="baños"  />
    </div> 
<!-- baños -->


<!-- dormitorios -->
<div class="mb-2">
    <label for='dormitorios'class='text-center'> Numero de dormitorios</label>
    <input class="form-control" type="number" id='dormitorios' name="dormitorios"  />
    </div> 
<!-- dormitorios -->


<!-- direccion -->
<div class="mb-2">
    <label for='direccion'class='text-center'>Direccion</label>
    <input class="form-control" type="text" id='direccion' name="direccion"  />
    </div> 
<!-- direccion -->

<!-- precio -->
<div class="mb-2">
    <label for='precio'class='text-center'>precio</label>
    <input class="form-control" type="number" id='precio' name="precio"  />
    </div> 
<!-- precio -->


<!-- Categoria -->
<div class="form-group">
  <label class="labelName">Categoría</label>
  <select class="form-control" name="category">
    <% for(var i= 0; i< categorias.length; i++) { %>
    <option value="<%=categorias[i].id_tipo_propiedad%>"><%=categorias[i].nombre%></option>
    <% } %>
  </select>
</div>
<div class="form-group">
<!-- /Categoria -->



<!-- Operacion -->
<div class="form-group">
  <label class="labelName">operación</label>
  <select class="form-control" name="operacion">
    <% for(var i= 0; i< operacion.length; i++) { %>
    <option value="<%=operacion[i].idoperacion%>"><%=operacion[i].name%></option>
    <% } %>
  </select>
</div>
<div class="form-group">
<!-- /Operacion -->


<!-- images -->
<div class="form-group">
  <label class="upload-images">Sube minimamente 5 imagenes del producto
    <input type="file" size="60" name="images" accept=".pdf,.jpg,.png" multiple required >
</div>
<!-- /images -->



<div class="d-flex justify-content-center">

  <!-- Submit button  -->
 <div class="m-3">   
 <input type="submit" class="btn btn-primary" value="crear" />
 </div>
  <!-- /Submit button  -->
 
 
 
  <!-- boton de panel de inicio  -->
  <a href="/admin/panel" class="m-3">   
   <button type="button" class="btn btn-danger" >volver al panel</button type="button">
 </a>
 <!-- boton de panel de inicio  -->
 </div>
    
        </div>
<!-- /Jumbotron -->

        </form>




</body>


</html>