<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />

    <title>Zanní</title>

  </head>
  <body>
    <section>
        <div  style="display: flex;flex-direction: column;margin:1em auto;">
            <h1 style="align-self: center;">Propiedades de la plataforma</h1>
        </div>
        <div style="background-color: white;margin:0 auto;">
            <table class="table table-striped">
                <tr>
                    <th>Nombre</th>
                    <th>Resumen</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                  <span class='d-flex justify-content-end m-3' >
                      <a class="btn btn-primary"  style="align-self: flex-end;" href="/admin/crear"><i class="fa fa-plus" aria-hidden="true"> Crear propiedad</i></a>
                  </span>
                </tr>
                <% for (let i = 0;i < propiedad.length; i ++ ) {%>
                    <tr>

                    <td><%= propiedad[i].titulo%></td>
                    <td><%= propiedad[i].descripcion%></td>

                    <td>
                        <a class="btn btn-secondary" href="/admin/editar/<%= propiedad[i].idpropiedad%>"><i class="far fa-edit"></i></a>
                    </td>
                    <td>
                        <form  class="forms" action="/admin/borrar/<%= propiedad[i].idpropiedad%>" method="POST" style="padding:0;margin:0">
                           <button type="submit"   onclick="return confirm('Seguro que quieres eliminarlo?')" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i>
                           </button>
                        </form>
                    </td>
                </tr>

                <%} %>
            </table>
        </div>

        
    </section>
</body>
</html>
