<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <section>
        <div  style="width:90%;display: flex;flex-direction: column;margin:1em auto;">
            <h1 style="align-self: flex-start;">propiedados de la plataforma</h1>
            <a class="btn btn-primary"  style="align-self: flex-end;" href="/propiedads/create">Crear un nuevo propiedado</a>
        </div>
        <div style="width: 90%;background-color: white;margin:0 auto;">
            <table class="table table-striped">
                <tr>
                    <th>Nombre</th>
                    <th>Resumen</th>
                    <th>Editar</th>
                    <th>Borrar</th>
                </tr>
                <% for (let i = 0;i < propiedad.length; i ++ ) {%>
                <tr>

                    <td><%= propiedad[i].titulo%></td>
                    <td><%= propiedad[i].descripcion%></td>
                    <td>
                        <a class="btn btn-secondary" href="/propiedad[i]./edit/<%= propiedad[i].id%>">Editar</a>
                    </td>
                    <td>
                        <form action="/propiedad[i]./<%= propiedad.id%>?_method=DELETE" method="POST" style="padding:0;margin:0">
                            <button type="submit"  class="btn btn-danger">Eliminar</button>
                        </form>
                    </td>
                </tr>
                <br>
                <%} %>
            </table>
        </div>
    </section>


  </body>
</html>
