<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <section>
        <div  style="display: flex;flex-direction: column;margin:1em auto;">
            <h1 style="align-self: flex-start;">propiedados de la plataforma</h1>
            <a class="btn btn-primary"  style="align-self: flex-end;" href="/admin/crear">Crear una nueva propiedad</a>
        </div>
        <div style="background-color: white;margin:0 auto;">
            <table class="table table-striped">
                <tr>
                    <th>Nombre</th>
                    <th>Resumen</th>
                    <th>Editar</th>
                    <th>Borrar</th>
                </tr>
                <% for (let i = 0;i < propiedad.length; i ++ ) {%>
                    <tr>

                    <td><%= propiedad[i].titulo%></td>
                    <td><%= propiedad[i].descripcion%></td>

                    <td>
                        <a class="btn btn-secondary" href="/admin/editar/<%= propiedad[i].idpropiedad%>">Editar</a>
                    </td>
                    <td>
                        <form action="/admin/borrar/<%= propiedad[i].idpropiedad%>" method="POST" style="padding:0;margin:0">
                           <button type="submit"  class="btn btn-danger">Eliminar</button>
                        </form>
                    </td>
                </tr>

                <%} %>
            </table>
        </div>
    </section>


  </body>
</html>
