<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />

    <title>Zanní</title>


  </head>
  <body>
    <section>
        <div  style="display: flex;flex-direction: column;margin:1em auto;">
            <h1 style="align-self: center;">Propiedados de la plataforma</h1>
        </div>
        <div style="background-color: white;margin:0 auto;">
            <table class="table table-striped">
                <tr>
                    <th>Nombre</th>
                    <th>Resumen</th>
                    <th>Editar</th>
                    <th>Borrar</th>
                </tr>
                <% for (let i = 0;i < propiedad.length; i ++ ) {%>
                    <tr>

                    <td><%= propiedad[i].titulo%></td>
                    <td><%= propiedad[i].descripcion%></td>

                    <td>
                        <a class="btn btn-secondary" href="/admin/editar/<%= propiedad[i].idpropiedad%>">Editar</a>
                    </td>
                    <td>
                        <form action="/admin/borrar/<%= propiedad[i].idpropiedad%>" method="POST" style="padding:0;margin:0">
                           <button type="submit"  class="btn btn-danger">Eliminar</button>
                        </form>
                    </td>
                </tr>

                <%} %>
            </table>
        </div>

        <div class="d-flex justify-content-end">
        <a class="btn btn-primary"  style="align-self: flex-end;" href="/admin/crear">Crear una nueva propiedad</a>
    </div>
    </section>


  </body>
</html>
