<footer>
<div class="d-flex justify-content-around ">
<div>
    <h2 class="text-white">Terminos y condiciones</h2>
    <div> <a class="white_font links" href="">Copyright Notice</a> </div>

<div>  <a class="white_font links" href="/sobre-nosotros">Sobre nosotros</a> </div>
</div>


<div class=" ">

    
    <a href="/contacto"> <h2 class="text-white">Contactanos </h2> </a>

<div>
    <a href="https://www.facebook.com/inmobiliariamarcelozanni" class="links">
    <i class="fab fa-facebook white_font mr-4"></i>
    </a>

    <a href="https://www.instagram.com/inmobiliariamarcelozanni/" class="links">
  <i class="fab fa-instagram white_font mr-4"></i>
    </a>

    <a href="https://ar.pinterest.com/inmobiliariamarcelozanni/" class="links">
 <i class="fab fa-pinterest white_font mr-4"></i>  
    </a>
    
    <a href="https://www.youtube.com/channel/UCbRermRAC4U0pAMeFV1xrww?reload=9&view_as=subscriber" class="links"><i class="fab fa-youtube white_font mr-4"></i> 
    </a>
    

    <a href="https://www.linkedin.com/in/inmobiliariamarcelozannirosario/" class="links"><i class="fab fa-linkedin white_font mr-4"></i> 
    </a>
</div>
</div>
</div>
</footer>